<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861496021495-bkqmece9e944emv31mrtpj80cvb11sap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861496021495-bkqmece9e944emv31mrtpj80cvb11sap</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>861496021495-besj348aq0pu30hv8ah8k0cke2bupdr7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAoUN3z0Tlvv6VRT-6l2HjEwgIrmwh6REs</string>
	<key>GCM_SENDER_ID</key>
	<string>861496021495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.mapwc</string>
	<key>PROJECT_ID</key>
	<string>mapwc-353700</string>
	<key>STORAGE_BUCKET</key>
	<string>mapwc-353700.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861496021495:ios:480629cd076cc6998f5ef2</string>
</dict>
</plist>